<input type="text" [(ngModel)]="input">

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="canasta.length === 0"> lista vacia</li>
  <li *ngFor="let item of canasta; index as i">
    {{ item }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<!--<div *ngFor="let product of products">
  <div [ngSwitch]="input">
    <div *ngSwitchCase="product.title">
      <h1>{{ product.title }}</h1>
      <img [src]="product.image" alt="Imagen de producto">
      <h3>{{ product.price }}</h3>
    </div>
    <div *ngSwitchDefault><h1>No se han llamado productos especiales</h1></div>
  </div>
</div>-->
<div *ngFor="let product of products">
  <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
</div>
